/*
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
ME                                        LE
ME     MMMMMMMMM            MMMMMMMMM     LE
ME     MMMMMMMMMM          MMMMMMMMMM     LE
ME     MMMMMMMMMMM        MMMMMMMMMMM     LE
ME     MMMMMMMMMMMM      MMMMMMMMMMMM     LE
ME     MMMMMMMM MMMM    MMMM MMMMMMMM     LE
ME     MMMMMMMM  MMMM  MMMM  MMMMMMMM     LE
ME     MMMMMMMM   MMMMMMMM   MMMMMMMM     LE
ME     MMMMMMMM    MMMMMM    MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME                                        LE
ME     Mele13                             LE
ME                                        LE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
*/
body {
  background-color: #121212;
  color: #FFF;
  font-family: "Poppins", sans-serif;
}

header {
  margin-bottom: 3em;
}
header h1 {
  color: #FFF;
  margin-top: -1.2em;
  margin-left: 15.4em;
  font-size: 50px;
}

.appointment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.appointment img, .appointment form {
  width: 30%;
  margin: 1em;
}
.appointment .appointment-form {
  display: flex;
  flex-direction: column;
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkbox/indicator (hidden when not checked) */
  /* Show the checkbox when checked */
  /* Style the checkbox/indicator */
}
.appointment .appointment-form .form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}
.appointment .appointment-form .form-group * {
  font-size: 1.3rem;
  margin: 2px 0;
}
.appointment .appointment-form .form-group .btn {
  background-color: rgba(18, 18, 18, 0.0705882353);
  border: 3px solid #E60000;
  border-radius: 20px;
  height: 50px;
  color: white;
  width: 50%;
  margin: 0 auto !important;
  transition: 0.4s all linear;
}
.appointment .appointment-form .form-group .btn:hover {
  border: none;
  background-color: #E60000;
  color: #121212;
}
.appointment .appointment-form .container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.appointment .appointment-form .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.appointment .appointment-form .checkmark {
  position: absolute;
  top: 0;
  left: 30%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.appointment .appointment-form .container:hover input ~ .checkmark {
  background-color: #999999;
}
.appointment .appointment-form .container input:checked ~ .checkmark {
  background-color: #FFFFFF;
}
.appointment .appointment-form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.appointment .appointment-form .container input:checked ~ .checkmark:after {
  display: block;
}
.appointment .appointment-form .container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #121212;
}
.appointment .appointment-form .checkbox {
  position: absolute;
  top: 0;
  left: 4%;
  height: 25px;
  width: 25px;
  background-color: #FFF;
}
.appointment .appointment-form .container:hover input ~ .checkbox {
  background-color: #ccc;
}
.appointment .appointment-form .container input:checked ~ .checkbox {
  background-color: #2196F3;
}
.appointment .appointment-form .checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.appointment .appointment-form .container input:checked ~ .checkbox:after {
  display: block;
}
.appointment .appointment-form .container .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media screen and (max-width: 1200px) {
  .appointment img {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */