/*
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
ME                                        LE
ME     MMMMMMMMM            MMMMMMMMM     LE
ME     MMMMMMMMMM          MMMMMMMMMM     LE
ME     MMMMMMMMMMM        MMMMMMMMMMM     LE
ME     MMMMMMMMMMMM      MMMMMMMMMMMM     LE
ME     MMMMMMMM MMMM    MMMM MMMMMMMM     LE
ME     MMMMMMMM  MMMM  MMMM  MMMMMMMM     LE
ME     MMMMMMMM   MMMMMMMM   MMMMMMMM     LE
ME     MMMMMMMM    MMMMMM    MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME                                        LE
ME     Mele13                             LE
ME                                        LE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
*/

/* Body and HTML */
* {box-sizing: border-box}

body { // Applies to whole page
    background-color: #121212;
    //margin: 1.5em; // em unit = relative unit - MARGIN AND PADDING
    font-family: 'Poppins', sans-serif;
}

/* General cases */
a { 
    text-decoration: none;
    color: #FFF;
}

img {
    vertical-align: middle;
}

.d-block {display: block;}

.d-none {display: none;}

.bg-color-red {background-color: #E60000;}

.bg-color-white {background-color: #FFF;}

section {height: 100vh}

.mySlides-fade {display: none;}

.container {height: 100vh;}

h1 {    
    color: #FFFFFF;

    span {
        color: #E60000;
    }
}

header {
    h1 {
        margin-top: -1.2em;
        margin-left: 15.4em;
        font-size: 50px;
    }
}

/* Facilities carousel */
section.facilities {margin: 1.5em;}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
        color: #FFFFFF;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        right: 0;
        top: 0;
    }
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /*background-color: #FFFFFF;*/
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #E60000;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/* Activities carousel */
section.activities {
    font-size: 30px;
    height: 110vh;

    h1 {margin-left: 152px;}

    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;

        .grid {
            justify-content: center;
            display: grid;
            grid-template-columns: repeat(4, 350px); // 3 Columns - width
            grid-template-rows: repeat(2, 380px); // 3 Rows - height
            grid-gap: 50px 50px;
            text-align: center;
        
            .grid-item {
                border: thin #FFFFFF solid;
                padding: 10px;
                transition: .5s ease;
                backface-visibility: hidden;
    
                img {
                    width: 225px;
                    height: 154px;
                    margin-top: 20px;
                    margin-bottom: 0.715em;
                }
                
                p {
                    color: #FFFFFF;
                    margin-top: -0.5em;
                    margin-bottom: -1em;        
                }
        
                p.head {font-size: 30px;}        
                p.content {font-size: 20px;}
            }

            .grid-item-2-3 {
                grid-column-start: 2;
                grid-column-end: 3;
            }
            
            .grid-item-3-4 {
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }

        /* Next & previous buttons */
        .prev2, .next2 {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        
        /* Position the "next button" to the right */
        .next2 {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        
        /* On hover, add a black background color with a little bit see-through */
        .prev2:hover, .next2:hover {
            background-color: rgba(0,0,0,0.8);
        }
        
    }
    
    /* The dots/bullets/indicators */
    .dot2 {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        /*background-color: #FFFFFF;*/
        border-radius: 20%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active, .dot2:hover {
        background-color: #E60000;
    }
    
    /* Fading animation */
    .fade2 {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    .clarification {
        position: absolute;
        display: inline;
        color: #FFF;
        font-size: 15px;
        right: 0;
        margin-right: 175px;
    }
}

/* Training */
section.trainers {    
    font-size: 30px;
    height: 77.5vh;

    h1 {margin-left: 152px;}

    p {
       color: #FFF; 
       margin-left: 152px;
       margin-top: -0.5em;
    }

    .training-container {
        border-top: 6px solid #FFF;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;    
        
        .training-content-hover {display: none;}

        .training-content {
            position: relative;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            width: 640px;//33.3333%;
            min-height: 499px;            
            border-bottom: 6px solid #FFF; //khe - no sirve

            .training-content-mobile {display: none;}

            .training-content-main, .training-content-hover {
                position: absolute;
                top: 0;
                left: 0;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                justify-content: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 60px;
                transition: all 0.2s ease-in-out;
            }
        }

        .training-content:nth-child(1) .training-content-main {
            background-image: url('../images/Training/Personal\ training.png');
            background-size: cover;
        }
        .training-content:nth-child(2) .training-content-main {
            background-image: url('../images/Training/Group\ Training.png');
            background-size: cover;
        }
        .training-content:nth-child(3) .training-content-main {
            background-image: url('../images/Training/Online\ Training.png');
            background-size: cover;
        }
    
        .training-content-main {
            z-index: 200;
            filter: blur(0px);
            background-size: cover;
            background-position: center;
        }

        .training-content-hover {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            z-index: 100;
            text-align: center;
            opacity: 0;
            background-color: #121212;

            p {
                color: #FFF;
                font-size: 30px;
                margin-left: 0em;
                margin-bottom: -0.7em;
            }

            li {
                color: #FFF;
                font-size: 20px;
            }
            
            ul {text-align: left;}

            .extra-info {
                display: inline;
                font-size: 20px;
                text-align: left;
                margin-top: -1.5em;
            }
        }

        .training-content:hover .training-content-main {
            z-index: 100;
            filter: blur(10px);
        }

        .training-content:hover .training-content-hover {
            z-index: 200;
            opacity: 1;
        }
        
        .training-content-main h4 {
            margin-bottom: 30px;
            font-size: 50px;
            color: #FFF;
            font-weight: lighter;
            text-align: center;
        }

        .box {
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: -1em;
    
            .button-link {
                display: flex;
                border-radius: 20px;       
                border: 5px solid #FFFFFF; // Stroke
                margin: 10px;
                padding: 10px;
                width: 168px;
                height: 78px;
                justify-content: center;
                align-items: center;
                margin-left: 0em;
        
                p {
                    display: inline; // Avoid new line in p element
                    font-size: 20px;
                    color: #FFFF;
                    margin-left: 0%;
                    margin-top: -0.7em;
                }
            }
        }

        .a.button-link {
            display: block;
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            font-size: 1em;
            font-weight: 400; 
            color: #FFF;
            background-color: #11111180;
            border: 2px solid #FFF;
        }

        .a.button-link:hover {
            color: #FFF;
            background-color: pink;
            border: 2px solid #FFF;
        }
    }
}

section.objective { 
    font-size: 30px;
    height: 78.7vh;
    
    h1 {margin-left: 152px;}
    
    p {
        color: #FFF; 
        margin-left: 152px;
        margin-top: -0.5em;
        margin-right: 1.5em;
    }

    .objective-content {
        margin-top: 2em;

        .separator {
            display: flex;
            margin-left: 152px;
        
            svg {
                position: absolute;
                z-index: 0;
            }
        
            p {
                z-index: 1;
                color: #121212;
                font-weight: bold;
                font-size: 25px;
                margin-top: 0.5em;
                margin-left: 0.5em;
            }
        }

        .toggle {
            cursor: pointer; 
        }
    }

    .objective-overlays {
        //Margins allows to position them next to the selector (svg)
        margin-top: -15.15em;
        margin-left: 28em;
        
        .box {
            display: flex;
            border-radius: 20px;       
            border: 5px solid #FFF; // Stroke
            margin: 10px;
            padding: 10px;
            width: 975px;
            height: 420px;
            color: #FFF;
        
            p {
                font-size: 20px;
                color: #FFFFFF;
                width: 259px;
                margin: 1em;
                margin-top: 0em;
                text-align: center;
            }

            .background-box1, .background-box2, .background-box3, .background-box4, .background-box5, .background-box6 {               
                width: 673px;
                height: 420px;
                border-radius: 20px;
                margin-top: -0.5em;
                margin-left: -0.5em;
                border-bottom: 5px solid #FFF;
                border-top: 5px solid #FFF;
                border-left: 5px solid #FFF;
                background-size: cover;
            }

            .background-box1 {background-image: url('../images/Objectives/Acondicionamiento.PNG');}
            .background-box2 {background-image: url('../images/Objectives/Postural\ correction.jpg');}
            .background-box3 {background-image: url('../images/Objectives/Muscle.PNG');}
            .background-box4 {background-image: url('../images/Objectives/Loose\ fat.jpg');}
            .background-box5 {background-image: url('../images/Objectives/High\ intensity.PNG');}
            .background-box6 {background-image: url('../images/Objectives/Sports\ prep.jpg');}
        }

        .click1, .click2, .click3, .click4, .click5, .click6 {display: none;}
    }

    .overlay2, .overlay3, .overlay4, .overlay5, .overlay6 {margin-top: -14.3em;}
}

section.achievements {
    font-size: 30px;
    
    h1 {margin-left: 152px;}
    
    p {
        color: #FFF; 
        margin-left: 152px;
        margin-top: -0.5em;
        margin-right: 1.5em;
    }

    .achievement-slider {        
        margin: auto;
        width: 60%;
        padding: 10px;
            
        img {
            border-radius: 10px;
            border: 5px solid #FFFFFF; // Stroke
        }
    }

    .AchSlides {display: none;}
}

section.articles {
    height: 35vh;

    .svg-article {
        margin: auto;
        width: 100%;
        padding: 10px;
        height: 171px;
        display: flex;

        .bg-svg-article {
            height: 100px;
            width: 100%;
            text-align: center;

            img {width: 60%;}
        }

        img {
            vertical-align: middle;
        }
    }

    .slides {
        display: flex;
        text-align: center;
        margin-top: -10.5em;
        justify-content: space-between;
        width: 50%;
        margin: auto;
        position: relative;
        top: -171px;
    }

    .article-overlays {        
        .box {
            display: flex;
            border-radius: 20px;       
            border: 3px solid #FFF; // Stroke
            margin: 10px;
            padding: 10px;
            width: 277px;
            height: 130px;
        
            p {
                font-size: 15px;
                color: #FFFFFF;
                margin: 1em;
                margin-top: -2.8em;
                width: 106px;
                text-align: center;
            }

            .background-box1, .background-box2, .background-box3, .background-box4, .background-box5, .background-box6,
            .background-box7, .background-box8, .background-box9 {               
                width: 131px;
                height: 130px;
                border-radius: 20px;
                margin-top: -0.85em;
                margin-left: -0.85em;
                border-bottom: 3px solid #FFF;
                border-top: 3px solid #FFF;
                border-left: 3px solid #FFF;
                background-size: cover;
            }

            // Slide 1
            .background-box1 {background-image: url('../images/Articles/Sport\ benefits.jfif');}
            .background-box2 {background-image: url('../images/Articles/Heart\ failure.png');}
            .background-box3 {background-image: url('../images/Articles/Disease.jpeg');}
            // Slide 2
            .background-box4 {background-image: url('../images/Articles/Endorphins.jpg');}
            .background-box5{background-image: url('../images/Articles/Antidepressive\ effect\ of\ exercise.jfif');}
            .background-box6 {background-image: url('../images/Articles/Mental\ health.jpg');}
            // Slide 3
            .background-box7 {background-image: url('../images/Articles/Health\ habits.jfif');}
            .background-box8 {background-image: url('../images/Articles/Diet\ and\ exercise.jpg');}
            .background-box9 {background-image: url('../images/Articles/Exercise\ tips.jpg');}
        }
    }
}

/*
.news {
    color: white;
    background-image: url(../images/news-bg.svg);
    width: 50%;
    margin: 0 auto;
    display: flex;
    height: 185px;
    padding-top: 85px;
}

.news .news-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.news .news-content div {
    width: 20%;
    text-align: center;
}

section.info {

}
*/
section.info {
    height: 50vh;
    font-size: 30px;
    
    h1 {margin-left: 152px;}
    
    p, li {
        color: #FFF; 
        margin-left: 152px;
        margin-right: 1.5em;
    }

    ul {
        list-style-type: none;
        span {color: #E60000;}
    }

    .info-final-phone, .info-final-mail {
        display: flex;
        img {margin-left: 200px;}
        p {
            margin-left: 8px;
            margin-top: 0em;
        }
    }
    .info-final-mail {margin-right: 1.5em;}
}

section.schedule {
    height: 30vh;
    .box {
        position: relative;
        display: flex;
        justify-content: center;

        #box-more {
            display: flex;
            border-radius: 20px;       
            border: 5px solid #FFFFFF; // Stroke
            margin: 10px;
            padding: 10px;
            width: 431px;
            height: 188px;
            justify-content: center;
            align-items: center;
    
            .schedule {
                display: flex;
                position: relative;
                width: 130px;
                height: 130px;
                margin-right: 2em;
            }

            p {
                display: inline; // Avoid new line in p element
                font-size: 30px;
                color: #FFFFFF;
                width: 214px;
                height: 130px;
                margin-right: 0.5em;
                text-align: center;
            }
        }
    }
}

