.news {
    color: white;
    background-image: url(../images/news-bg.svg);
    width: 50%;
    margin: 0 auto;
    display: flex;
    height: 185px;
    padding-top: 85px;
}

.news .news-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.news .news-content div {
    width: 20%;
    text-align: center;
}