/*
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
ME                                        LE
ME     MMMMMMMMM            MMMMMMMMM     LE
ME     MMMMMMMMMM          MMMMMMMMMM     LE
ME     MMMMMMMMMMM        MMMMMMMMMMM     LE
ME     MMMMMMMMMMMM      MMMMMMMMMMMM     LE
ME     MMMMMMMM MMMM    MMMM MMMMMMMM     LE
ME     MMMMMMMM  MMMM  MMMM  MMMMMMMM     LE
ME     MMMMMMMM   MMMMMMMM   MMMMMMMM     LE
ME     MMMMMMMM    MMMMMM    MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME                                        LE
ME     Mele13                             LE
ME                                        LE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
*/

body { // Applies to whole page
    background-color: #121212;
    margin: 1.5em; // em unit = relative unit - MARGIN AND PADDING
    font-family: 'Poppins', sans-serif;
}

a { // Applies to all links    
    text-decoration: none; // Underlined links OFF
    display: flex;
    color: #FFFFFF;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    box-sizing: border-box;
}

h1, h3 {
    color: #FFFFFF;
    padding: 0%;
    margin: 0%;
    font-weight: normal;

    span {
        color: #E60000;
    }
}

h3 {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

label {
    color: #FFFFFF;
}

.content {
    width: 100%;
    height: 100%;
    text-align: center;

    label {
        float: left;    
        font-size: 20px;
    }

    .top-content {
        margin-top: 6%;
    }

    .user, .password {
        width: 30%;
        justify-content: center;
        margin: auto;
        margin-top: 1.5%;
    }

    .box {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 2%;

        #box-access {
            display: flex;
            border-radius: 10px;       
            border: 5px solid #E60000; // Stroke
            margin: 10px;
            padding: 10px;
            width: 18vh;
            height: 2.5vh;
            justify-content: center;
            align-items: center;
    
            p {
                font-size: 20px;
                color: #FFFFFF;
            }
        }
    }

    .bottom-content {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        width: 30%;
        margin: auto;

        a {
            justify-content: center;
        }
    }
}
