
.ninethi:root {
    --link-color: #FFFFFF;
    --link-hover-color: #000000;
    --nav-background-color: transparent;
    --nav-item-background-color-hover: #e60000;
    --nav-height: 68px;
    --nav-li-transition: all 0.4 linear;
}

body {
    margin: 0;    
    background-color: #121212;
    margin: 1.5;
    font-family: 'Poppins', sans-serif;
}

a {text-decoration: none;}

ul {list-style: none;}

section {height: 100vh;}

.head-and-background-container {
    width: 1900px;
    height: 900px;
    background-image: url('../images/muscularManBg.png');
    background-size: 100% 100vh;
    margin: 2px;
}

.head-and-background-container .logo {
    margin-left: 90px;
    position: fixed;
    margin-top: 8px;
    cursor: pointer;
    z-index: 200;
}

.buttons a {color: #FFF;}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.buttons .home {margin-right: 75px;}
.buttons .home, .buttons .logIn {
    position: fixed;
    margin-top: 8px;
    font-size: 20px;
    cursor: pointer;
    z-index: 200;
}

header {margin: 0;}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

nav ul {
    list-style: none;
    padding-left: 0; /* Elimina el espacido a la izq */
    margin: 0;
}

nav ul li {
    float: left;
    color: var(--link-color);
    padding: 1.2em;
    font-size: 1.2em;
}

nav ul .nav-item {transition: all 0.4s linear;}

nav ul .no-nav-item {
    font-size: 30px;
    margin-right: -1em;
    color: #FFF;
}

/* Hide menu at first */
nav ul #menu-level-1 {display: none;}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
}

nav ul .nav-item:hover {background-color: var(--nav-item-background-color-hover);}

nav ul .nav-item:hover > a {color: var(--link-hover-color);}

/* Icono de menu */
nav ul .burger-icon {
    padding: 1.12em;
    background-color: var(--nav-background-color);
    margin-right: 1em;
    color: #FFF;
    cursor: pointer;
}

nav ul .burger-icon i {font-size: 35px;}

.top-image {margin-top: var(--nav-height);}

@media screen and (max-width: 992px) {
    
    nav ul .burger-icon {width: 3%;}

    nav ul li {
        float: none;
        width: 100%;
        background-color: var(--nav-background-color);
    }
}
/* End dropdown */

.first-scroll {

    .right-col {
        position: absolute;
        right: 0;
        width: 40%;
        height: 60%;
        text-align: center;
        margin-top: 8%;
    
        ul {
            margin-top: 7em;
            list-style-type: none;
    
            h1 {
                font-size: 3rem;
                line-height: 2rem;
                color: #FFFFFF;
                text-align: center;
    
                span { // Fit, Strong, Motivated
                    color: #E60000;
                }
            }
        }
    
        .box {
            position: relative;
            display: flex;
            justify-content: center;
            margin-left: 5%;
    
            #box-join {
                display: flex;
                border-radius: 20px;       
                border: 5px solid #E60000; // Stroke
                margin: 10px;
                padding: 10px;
                width: 20vh;
                height: 4vh;
                justify-content: center;
                align-items: center;
        
                p {
                    display: inline; // Avoid new line in p element
                    font-size: 140%;
                    color: #FFFFFF;
                    margin-left: 0%;
                }
            }
        }
    
        .scroll-arrow { // Scroll down arrow with dumbbell shape
            width: 20em; // This gotta be changed when we add the scroll animation
            height: 25vh;
            text-align: center;
            margin-left: 5%;
            margin-top: 5%;
            display: none;
        }
    }
}

.svg-wrapper {
    height: 0%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: -0.1em;
}

section.second-scroll {    

    .activities-top, .activities-bottom { // Modifies all lists - both top and bottom
        position: relative;
        list-style-type: none; // No dots to organize li elements
        padding: 0;
        overflow: hidden;
        max-width: 100%;
        display: flex;
        justify-content: center;

        .type-activity { // Modifies all elements of list
            margin-left: 7em;
            margin-right: 7em;
        }

        .type-activity p { // Modifies all texts - Physical, Aquatic, Kids
            color: #FFFFFF;
            text-align: center;
            font-size: 150%;
            margin-top: -0.2em;
        }

        .type-activity a { // Modifies all links (all images)
            text-align: center;
            text-decoration: none;
        }
    }

    .activities-bottom {
        li {margin-top: 0.5em;}
    }

    .activities-top {
        li {margin-top: 4em;}
    }

    .box {
        position: relative;
        display: flex;
        justify-content: center;

        #box-activities {
            display: flex;
            border-radius: 10px;       
            border: 5px solid #FFFFFF; // Stroke
            margin: 10px;
            padding: 10px;
            width: 30vh;
            height: 5vh;
            justify-content:center;
            align-items: center;
    
            p {
                display: inline; // Avoid new line in p element
                font-size: 150%; //2.188rem; // 35px
                color: #FFFFFF;
    
            }
            
            svg {
                margin: 0.5em;
            }
        }
    }
}

section.third-scroll {
    .right-col {       
        width: 35%;
        float: right;
        margin-right: 6%;

        p {
            color: #FFFFFF;
            text-align: center;
            font-size: 150%;
        }

        .box1 {
            position: relative;
            display: flex;
            justify-content: center;
            float: left;
            margin-left: 10%;
    
            #box-space {
                display: flex;
                border-radius: 20px;       
                border: 5px solid #FFFFFF; // Stroke
                margin: 10px;
                padding: 10px;
                width: 20vh;
                height: 6vh;
                justify-content:center;
                align-items: center;
        
                p {
                    display: inline; // Avoid new line in p element
                    font-size: 140%;
                    color: #FFFFFF;        
                }
            }
        }

        .box2 {
            position: relative;
            display: flex;
            justify-content: center;
            float: right;
            margin-right: 10%;
    
            #box-memberships {
                display: flex;
                border-radius: 20px;       
                border: 5px solid #FFFFFF; // Stroke
                margin: 10px;
                padding: 10px;
                width: 20vh;
                height: 6vh;
                justify-content:center;
                align-items: center;
        
                p {
                    display: inline; // Avoid new line in p element
                    font-size: 140%;
                    color: #FFFFFF;        
                }
            }
        }
    }

    .left-col {
        position: absolute;
        left: 0;
        background: url('../images/Clubs/FSM_Rec.png') no-repeat fixed;
        background-size: initial;
        width: 50%;
        height: 100vh;    
        z-index: -1;
    }
}

section.fourth-scroll {
    .left-col {
        width: 35%;
        float: left;
        margin-right: 6%;

        h1, p {
            color: #FFFFFF;
            text-align: center;
            justify-content: center;
            margin-left: 10%;
        }

        h1 {
            margin-top: 30%;
            font-size: 350%;
        }

        p {
            font-size: 150%;
        }

        .box {
            position: relative;
            display: flex;
            justify-content: center;
            margin-left: 10%;
    
            #box-more {
                display: flex;
                border-radius: 20px;       
                border: 5px solid #FFFFFF; // Stroke
                margin: 10px;
                padding: 10px;
                width: 20vh;
                height: 6vh;
                justify-content: center;
                align-items: center;
        
                p {
                    display: inline; // Avoid new line in p element
                    font-size: 140%;
                    color: #FFFFFF;
                    margin-left: 0%;
                }
            }
        }
    }

    .right-col {
        position: absolute;
        right: 0;
        background: url('../images/Clubs/SwimmingClub.jpg') no-repeat right fixed;
        background-size: contain;
        width: 50%;
        height: 100vh;    
        z-index: -1;
    }
}

section.fith-scroll {
    .right-col {
        width: 35%;
        float: right;
        margin-right: 6%;

        h1, p {
            color: #FFFFFF;
            text-align: center;
            justify-content: center;
            margin-right: 10%;
        }

        h1 {
            margin-top: 30%;
            font-size: 350%;
        }

        p {
            font-size: 150%;
        }

        .box {
            position: relative;
            display: flex;
            justify-content: center;
            margin-right: 10%;
    
            #box-more {
                display: flex;
                border-radius: 20px;       
                border: 5px solid #FFFFFF; // Stroke
                margin: 10px;
                padding: 10px;
                width: 20vh;
                height: 6vh;
                justify-content: center;
                align-items: center;
        
                p {
                    display: inline; // Avoid new line in p element
                    font-size: 140%;
                    color: #FFFFFF;
                    margin-right: 0%;
                }
            }
        }
    }

    .left-col {
        position: absolute;
        left: 0;
        background: url('../images/Clubs/SwimmingClub.jpg') no-repeat fixed;
        background-size: contain;
        width: 50%;
        height: 100vh;    
        z-index: -1;
    }
}

section.sixth-scroll {
    .left-col {
        width: 35%;
        float: left;
        margin-right: 6%;

        h1, p {
            color: #FFFFFF;
            text-align: center;
            justify-content: center;
            margin-left: 10%;
        }

        h1 {
            margin-top: 30%;
            font-size: 350%;
        }

        p {
            font-size: 150%;
        }

        .box {
            position: relative;
            display: flex;
            justify-content: center;
            margin-left: 10%;
    
            #box-more {
                display: flex;
                border-radius: 20px;       
                border: 5px solid #FFFFFF; // Stroke
                margin: 10px;
                padding: 10px;
                width: 20vh;
                height: 6vh;
                justify-content: center;
                align-items: center;
        
                p {
                    display: inline; // Avoid new line in p element
                    font-size: 140%;
                    color: #FFFFFF;
                    margin-left: 0%;
                }
            }
        }
    }

    .right-col {
        position: absolute;
        right: 0;
        background: url('../images/Clubs/KidsClub.jpg') no-repeat right fixed;
        background-size: contain;
        width: 50%;
        height: 100vh;    
        z-index: -1;
    }
}

section.seventh-scroll {
    .right-col {
        width: 35%;
        float: right;
        margin-right: 6%;

        h1, p {
            color: #FFFFFF;
            text-align: center;
            justify-content: center;
            margin-right: 10%;
        }

        h1 {
            margin-top: 30%;
            font-size: 350%;
        }

        p {
            font-size: 150%;
        }

        .box {
            position: relative;
            display: flex;
            justify-content: center;
            margin-right: 10%;
    
            #box-more {
                display: flex;
                border-radius: 20px;       
                border: 5px solid #FFFFFF; // Stroke
                margin: 10px;
                padding: 10px;
                width: 20vh;
                height: 6vh;
                justify-content: center;
                align-items: center;
        
                p {
                    display: inline; // Avoid new line in p element
                    font-size: 140%;
                    color: #FFFFFF;
                    margin-right: 0%;
                }
            }
        }
    }

    .left-col {
        position: absolute;
        left: 0;
        background: url('../images/Clubs/HealthClub.jpg') no-repeat fixed;
        background-size: contain;
        width: 50%;
        height: 100vh;    
        z-index: -1;
    }
}

section.eigth-scroll {

    h1 {
        color: #FFFFFF;
        font-size: 200%;        
        text-align: center;
        span {
            color: #E60000;
        }
    }

    ul { // Modifies all lists - both top and bottom
        position: relative;
        list-style-type: none; // No dots to organize li elements
        padding: 0;
        overflow: hidden;
        max-width: 100%;
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        li { // Modifies all elements of list
            margin: 2%;
            margin-top: 0em;
        }

        li img {
            height: 100px;
            width: 100px;
            text-align: center;
            text-decoration: none;
        }

        li p { // Modifies all texts - Physical, Aquatic, Kids
            color: #FFFFFF;
            text-align: center;
            font-size: 100%;
            margin-top: -0.2em;
        }
    }

    .right-col {
        float: right;
        position: absolute;
        border-radius: 20px;
        right: 0;
        background: url('../images/Mysc/Music_cover.png');
        background-size: cover;
        width: 865px;
        height: 410px;
        z-index: -1;
        margin-right: 3%;
        margin-top: -3em;

        .content-music {
            color: #FFFFFF;
            text-align: center;
            justify-content: center;
            margin-right: 10%;
            font-size: 250%;
            font-weight: bold;            
            margin: auto;
        }

        .box {
            position: relative;
            display: flex;
            justify-content: center;
            margin-right: 10%;
    
            #box-music {
                display: flex;
                border-radius: 20px;       
                border: 5px solid #FFFFFF; // Stroke
                margin: 10px;
                padding: 10px;
                width: 20vh;
                height: 6vh;
                justify-content: center;
                align-items: center;
        
                p {
                    display: inline; // Avoid new line in p element
                    font-size: 140%;
                    color: #FFFFFF;
                    margin-right: 0%;
                }
            }
        }
    }

    .left-col {
        float: left;
        position: absolute;        
        border-radius: 20px;
        left: 0;
        background: url('../images/Mysc/HealthyRecipes_cover.png');
        //opacity: 0.3;
        background-size: cover;
        width: 865px;
        height: 410px;
        z-index: -1;
        margin-left: 3%;
        margin-top: -3em;

        .content-recipes {
            text-align: center;
            color: #FFFFFF;
            opacity: 1.0;
            text-align: center;
            justify-content: center;
            margin-right: 10%;
            font-size: 250%;
            font-weight: bold;
            margin: auto;
        }

        .box {
            position: relative;
            display: flex;
            justify-content: center;
            margin-right: 10%;

            p {
                color: #FFFFFF;
                text-align: center;
                justify-content: center;
                margin-right: 10%;
                font-size: 150%;
            }
    
            #box-recipes {
                display: flex;
                border-radius: 20px;       
                border: 5px solid #FFFFFF; // Stroke
                margin: 10px;
                padding: 10px;
                width: 20vh;
                height: 6vh;
                justify-content: center;
                align-items: center;
        
                p {
                    display: inline; // Avoid new line in p element
                    font-size: 140%;
                    color: #FFFFFF;
                    margin-right: 0%;
                }
            }
        }
    }
}

.nineth-scroll {
    background-image: url("../images/Clubs/Maspalomas city.png");
    background-size: cover;
}

.last-scroll {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    color: #FFFFFF;
    height: 100%;

    h2 {
        text-align: center;
        width: 100%;
        span {color: #E60000;}
    }

    div {        
        text-align: center;
        margin: 1rem 0;
        width: 100%;

        button {
            background-color: transparent;
            border: 3px #FFFFFF solid;
            color: #FFFFFF;
            border-radius: 20px;
            transition: all 0.4s linear;
            padding: 1rem;
            font-size: 1.3em;
            cursor: pointer;
        }

        button:hover {
            background-color: black;
            border-color: black;
            color:#000000;
            background-color: white;
        }
    }

    .description {
        
        display: flex;
        justify-content: space-between;
        width: 80%;
        height: auto;
        align-self: flex-end;

        img {
            width: 20%;
            border-radius: 20px;
        }

        ul li {
            text-align: left;

            span {color: #e60000;}

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

/* */
@media screen and (max-width: 640px) { // <640 || testing: 320x560
    .head-and-background-container {
        width: 50%;
        height: 100vh;
        background-size: 100% 100vh;
        margin: 2px;
    }

    .head-and-background-container .logo {
        margin-left: 90px;
        margin-top: 8px;
    }

    .buttons {display: none;}
}

@media screen and (min-width: 641px) { // 641 - 1007 || testing: 641x480
  
}

@media screen and (min-width: 1007px) { // 1008 - 1200
  
}

@media screen and (min-width: 1201px) { // 1200>
  
}