body {
  background-color: #E60000;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* General cases */
a {
  text-decoration: none;
}

.container {
  height: 100vh;
}

nav ul section {
  height: 100vh;
}

p {
  color: #FFF;
  text-align: center;
  font-size: 30px;
  margin-top: -50px;
}

.middle .logo_ini {
  cursor: pointer;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  text-align: center;
  color: #FFF;
  font-size: 20px;
  position: relative;
  bottom: -250px;
}

/* Start of dropdown */
:root {
  --link-color: #FFFFFF;
  --link-hover-color: #121212;
  --nav-background-color: #E60000;
  --nav-item-background-color-hover: #e60000;
  --nav-height: 68px;
  --nav-li-transition: all 0.4 linear;
}

header {
  /* Hide menu at first */
  /* Icono de menu */
}
header nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
header nav ul {
  list-style: none;
  padding-left: 0; /* Elimina el espacido a la izq */
  margin: 0;
}
header nav ul li {
  float: left;
  color: var(--link-color);
  padding: 1.2em;
  font-size: 1.2em;
}
header nav ul .nav-item {
  transition: all 0.4s linear;
}
header .nav-item img {
  width: 60px;
  height: 60px;
}
header nav ul .no-nav-item {
  font-size: 30px;
  margin-left: -1em;
}
header nav ul .clubs {
  margin-left: -1em;
}
header nav ul #menu-level-1 {
  display: none;
}
header nav ul li a {
  text-decoration: none;
  color: var(--link-color);
}
header nav ul .nav-item:hover {
  background-color: var(--nav-item-background-color-hover);
}
header nav ul .nav-item:hover > a {
  color: var(--link-hover-color);
}
header nav ul .burger-icon {
  padding: 1.12em;
  background-color: var(--nav-background-color);
  margin-right: 1em;
}
header nav ul .burger-icon i {
  font-size: 35px;
}
header .top-image {
  margin-top: var(--nav-height);
}
@media screen and (max-width: 992px) {
  header nav ul .burger-icon {
    width: 3%;
  }
  header nav ul li {
    float: none;
    width: 100%;
    background-color: var(--nav-background-color);
  }
}

/* End of header*/
.footer-small-screens {
  display: none;
}

/* Responsive design */
@media screen and (max-width: 640px) {
  .logo_ini {
    width: 272px;
    height: 153px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  p, footer {
    font-size: 15px;
  }
  footer {
    display: none;
  }
  .footer-small-screens {
    text-align: center;
    color: #FFF;
    position: relative;
    bottom: -250px;
    display: block;
    margin-top: -3em;
  }
  header {
    --nav-background-color: #121212;
  }
  header nav {
    width: 25%;
  }
  header nav ul .no-nav-item {
    text-align: center;
    font-size: 15px;
    width: auto;
    height: auto;
    margin-left: 0em;
  }
  header nav ul .nav-item {
    width: auto;
    height: auto;
  }
  header nav ul .nav-item img {
    width: 40px;
    height: 40px;
  }
  header nav ul li {
    display: flex;
    justify-content: center;
    padding: 0em;
  }
  header nav ul .clubs {
    margin-left: 0em;
  }
}/*# sourceMappingURL=main.css.map */